.timer {
  font-size: 1.2em;
  color: #ffa500;
  margin: 1rem 0;
}

.resultsTimer {
  font-size: 1.3em;
  color: #ffa500;
  margin: 1rem 0;
  font-weight: 600;
}

.gameOverTimer {
  font-size: 1.1em;
  color: #ff6b6b;
  margin: 1rem 0;
  font-weight: 600;
  font-style: italic;
}
