.container {
  min-height: 100vh;
  width: 100%;
  padding: var(--spacing-2xl) var(--spacing-xl);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm {
  max-width: var(--container-sm);
  margin: 0 auto;
}

.md {
  max-width: var(--container-md);
  margin: 0 auto;
}

.lg {
  max-width: var(--container-lg);
  margin: 0 auto;
}

.full {
  max-width: 100%;
}

@media (max-width: 600px) {
  .container {
    padding: var(--spacing-sm) var(--spacing-sm);
    overflow: hidden;
  }
}
